
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Partials
@import "header";
@import "footer";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "node_modules/select2/dist/css/select2.min";
@import "node_modules/select2-bootstrap-theme/dist/select2-bootstrap.min";

body {
  margin: 6px;
  div.row {
    margin: 8px;
  }
  .datepicker,
  .input-field {
    width: 256px;
    margin: 8px;
  }
}

.verite-content {
  min-height: 477px;
}
